.signupContainer {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.signupContainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../Images/pattern-arrows-nails.svg);
    background-repeat: no-repeat;
    background-position: -50px 940px;
    background-size: 110%;
}

.headerContainer {
    width: 100%;
    height: 370px;
}

.closeSignUpForm {
    position: absolute;
    left: 30px;
    top: 40px;
    display: inline-block;
}

.header1 {
    position: absolute;
    width: 548px;
    height: 297px;
    left: 143px;
    top: 30px;
}

.h1 {
    position: absolute;
    width: 100%;
    height: 56px;
    margin: 0;
    top: 0;
    left:0;

    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.225em;
    color: var(--colour-white);
    text-transform: uppercase;
}

.h2 {
    position: absolute;
    margin: 0;
    width: 220px;
    height: fit-content;
    left: 160px;
    top: 20px;
    font-family:'TitlingGothicFB-Skyline-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 230px;
    line-height: 276px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--colour-turquoise);
    text-transform: uppercase;
}

.header2 {
    position: absolute;
    width: 580px;
    height: 74px;
    left: 121px;
    top: 300px;
}

.header {
    margin: 0;
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 130.5%;
    text-align: center;
    color: var(--colour-white);
}

.formContainer {
    position: absolute;
    width: 600px;
    height: 680px;
    left: 100px;
    top: 380px;
}

.form{
    position: absolute;
    width:100%;
    height:100%;
}

.inputContainer {
    position: relative;
    margin-top: 25px;
    width: 588px;
    height: 60px;
}

.labelFirstname, .labelSurname, .labelEmail, .labelDOB {
    background: var(--colour-black);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    left: 10px;
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 112%;
    color: var(--colour-turquoise);
    text-transform: uppercase;
}

.inputtext {
    border:2px solid var(--colour-white) !important;
    border-radius: 10px !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 563px !important;
    height: 40px !important;
    outline: none !important;
    font-family: 'SharpSans-Medium' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 23px !important;
    padding-left: 18px !important;
    color: var(--colour-white) !important;
    caret-color:white !important;
}

.input:focus { outline: none; }

.inputtext::placeholder {
    position: relative;
    width: 118px;
    height: 20px;
    font-family: 'SharpSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
    color: var(--colour-white);

}

.checkboxContainer, .checkboxContainer1 {
    position: relative;
    top: 20px;
    width: 650px;
    display: flex;
}

.checkboxContainer1 {
    top: 40px !important;
}

input[type=checkbox] { 
    visibility: hidden; 
} 

.inputCheckbox, .inputCheckbox1 {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 25px; 
    width: 25px; 
    border: 2px solid white;
    background-color: black; 
}

/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.inputCheckbox:after { 
    content: ""; 
    position: absolute; 
    display: none; 
}

.inputCheckbox1:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 

/* Display checkmark when checked */ 
.consentCheckbox input:checked ~ .inputCheckbox:after { 
    display: block; 
} 

.consentCheckbox1 input:checked ~ .inputCheckbox1:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.consentCheckbox .inputCheckbox:after { 
    left: 12px; 
    bottom: 0; 
    width: 8px; 
    height: 24px; 
    border: solid var(--colour-turquoise); 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 
.consentCheckbox1 .inputCheckbox1:after { 
    left: 12px; 
    bottom: 0; 
    width: 8px; 
    height: 24px; 
    border: solid var(--colour-turquoise); 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 

.consentData, .consentData1 {
    position: relative;
    width: 540px;
    left: 20px;
}

.consentData p{
    position: relative;
    width: 100%;
    padding-left: 0; 
    font-family: 'SharpSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
    color: #FFFFFF;
    margin:0;
}

.consentData1 p{
    position: relative;
    width: 100%;
    padding-left: 0; 
    font-family: 'SharpSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
    color: #FFFFFF;
    margin:0;
}

.modalLink {
    text-decoration: underline;
    cursor: pointer;
}

.footerContainer {
    position: absolute;
    width: 100%;
    height: 73.78px;
    top: 600px;
    background: var(--colour-black);
}

.skipSubmission{
    position: relative;
    width: 270px;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--colour-black);
    border: 3px solid var(--colour-white);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.btn1h1, .btn2h1{
    width: 95px;
    height: 26px;
    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--colour-white);
    border: 0.5px solid #000000;
    text-transform: uppercase;
}

.btn1h2, .btn2h2{
    width: 196px;
    height: 13px;
    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 11.5px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: var(--colour-white);
    text-transform: uppercase;
}

.submitData {
    position: relative;
    width: 270px;
    height: 100%;
    left: 45px;
    top: 0;
    background: var(--colour-black);
    border: 3px solid var(--colour-white);
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.btn2h1, .btn2h2  {
    color: var(--colour-turquoise) !important;
}

.PopupHeader{
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0;
    top: 0;
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
}

.PopupHeading1 {
    margin:0;
    top: 0;
    font-size: 30px;
    color: var(--colour-turquoise);
}

.PopupHeading2 {
    margin:0;
    font-size: 18px;
    color: var(--colour-white);
}

.termsAndConditions{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 780px;
}

.termsAndConditions p{
    font-family: 'SharpSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 151.5%;
    color: var(--colour-white);
    margin-top: 20px;
    margin-bottom: 0;
}

.actionConfirmheading {
    position: absolute;
    width: 580px;
    height: 100px;
    left: 30px;
    top: 76px;
}

.actionConfirmheading p {
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 144%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.confirmActionFooter {
    position: absolute;
    width: 400px;
    height: 64.1px;
    left: 100px;
    top: 226px;
}

.confirmActionButton {
    position: absolute;
    width: 174px;
    height: 64.1px;
    left: 0;
    top: 0;
    background: #000000;
    border: 3px solid var(--colour-pink);
    box-sizing: border-box;
    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colour-pink);
    text-transform: uppercase;
    background: var(--colour-black);
    cursor: pointer;
    outline: none;
}

.denyActionButton {
    position: absolute;
    width: 174px;
    height: 64.1px;
    left: 230px;
    top: 0;
    background: #000000;
    border: 3px solid var(--colour-white);
    box-sizing: border-box;
    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colour-white);
    text-transform: uppercase;
    background: var(--colour-black);
    cursor: pointer;
    outline: none;
}

.errorMsg, .checkErrorMsg, .checkErrorMsg1{
    position: relative;
    top: 10px;
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: var(--colour-coral);
}

.checkErrorMsg{
    top: 20px !important;
    left: 50px;
}

.checkErrorMsg1 {
    top: 40px !important;
    left: 50px;
}

