.mobileContainer {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
}

.previousPage {
    position: absolute;
    left: 5.76%;
    right: 91.85%;
    top: 20.6%;
    cursor: pointer;
}

.headerPattern {
    height: 200px;
    width: 700px;
    position: absolute;
    top: 0;
    right:0;
    background-repeat: no-repeat; 
    background-position: right center;
    pointer-events: none;
}

.dataContainer {
    position: absolute;
    width: 640px;
    height: 900px;
    left: 40%;
    top: 20%;
    box-sizing: border-box;
}
.heading {
    position: absolute;
    width: 485px;
    height: 70px;
    left: 70px;
    top: 20px;
}

.heading1, .heading2 {
    margin: 0;
    font-family: 'TitlingGothicFB-Extended-Bold';
    font-style: normal;
    font-weight: bold;
    line-height: 98.5%;
    text-align: center;
    text-transform: uppercase;
}

.heading1 {
    font-size: 19px;
    color: var(--colour-white);
}

.heading2 {
    margin-top: 8px !important;
    font-size: 33px;
    color: var(--colour-turquoise);
}

.mobileKeypadDisplay {
    position: relative;
    height: 128px;
    border-left: 4px solid var(--colour-white);
    text-align: center;
}

.mobileKeypadDisplay::after {
    position: absolute;
    content: '';
    width: 57px;
    height:5px;
    background: var(--colour-white);
    bottom: 18px;
    left: calc(50% - 28.5px);
}

.mobileKeypadKeys {
    height: 508px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-tap-highlight-color: transparent;
}

.mobilekeypadContainer {
    position: absolute;
    left: 12%;
    right: 30.4%;
    top: 15.65%;
    bottom: 51.01%;
    width: 467px;
    height: 636px;
    border-top: 4px solid var(--colour-white);
    border-right: 4px solid var(--colour-white);
    border-bottom: 4px solid var(--colour-white);
    border-radius: 13px;
    overflow: hidden;
}

.mobilekeypadKey {
    border-top: 4px solid var(--colour-white);
    border-left: 4px solid var(--colour-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SharpSans-Bold';
    font-size: 50px;
}

.errorMsg {
    position: absolute;
    top: 820px;
    left: 100px;
    font-family: 'SharpSans-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: var(--colour-coral);
}

:global(.iti__flag-container) {
    left: 20px !important;
    -webkit-tap-highlight-color: transparent;
}

:global(.iti--allow-dropdown input) {
    padding-left: 135px !important;
    margin-left: 0;
    width: 460px;
    height: 60px;
    font-family: 'SharpSans-MediumItalic';
    font-size: 30px;
    color: white;
    outline: none;
    border: none;
    background: black;
}

:global(input) {
    font-family: 'SharpSans-MediumItalic' !important;
    font-size: 47px !important;
    color: turquoise !important;
    caret-color: transparent;
}

:global(input)::placeholder {
    opacity: 0.4;
}

:global(.iti__flag-box, .iti__country-name, .iti__dial-code) {
    color:black ;
}

:global(.iti) {
    top: 30px;
}

:global(.iti__flag) {
    transform: scale(2,2.5);
    margin-left: 20px;
}

:global(.iti__arrow) {
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-top: 10px solid rgb(167, 161, 161) !important;
    margin-left: 25px !important;
}
:global(.iti__arrow--up) {
    border-bottom: none !important;
}

:global(.iti__country) {
    padding: 10px 10px !important;
}

:global(.iti__country-list) {
    background: black !important;
    outline: none !important;
    max-height: 565px !important;
    margin: -4px 0 0 -1px !important;
    border: none !important;
    width: 470px;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}
:global(.iti__country):hover {
    background: turquoise !important;
}

:global(.iti__country-name) {
   margin-left: 40px;
    outline: none !important;
    font-family: 'Sharp-sans-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

:global(.iti__divider){
    border-bottom: none !important;
}

:global(.iti__dial-code){
    margin-left: 5px !important;
    font-family: 'Sharp-sans-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
:global(.iti__selected-flag){
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
}



/* portrait mode */
@media only screen and (min-width: 810px) and (orientation: portrait) {
    .dataContainer {
        position: absolute;
        width: 640px;
        height: 900px;
        left: 90px;
        top: 150px;
        box-sizing: border-box;
    }
    
}

