.gifContainer {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.headerPattern {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat; 
    background-position: right center; 
    outline: none;
}

.footerPattern {
    height: 500px;
    width: 400px;
    position: absolute;
    bottom: -60px;
    left: 0;
    background-repeat: no-repeat; 
    background-position: left center; 
    outline: none;
    pointer-events: none;
}

.imageCaptureContainer {
    position: absolute;
    width: 720px;
    height: 600px;
    left: 27%;
    bottom: 0px;
    border: 6px solid var(--colour-pink);
    box-sizing: border-box;
    outline: none;
}

.gifImageContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.playVideo{
    position: absolute;
    width:fit-content;
    height: fit-content;
    left: 40%;
    right: 30.4%;
    top: 40%;
    bottom: 51.01%;
    cursor: pointer;
    outline: none;
}

.imageCaptureContainer video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}

.multiImageCapture {
    width: 100%;
    height: 100%;
}

.progressbar {
    left: 35%;
    right: 30.4%;
    bottom: 70.01%;
}

.videoCapture {
    position: absolute;
    left: 31%;
    right: 32.4%;
    top: 23%;
    bottom: 51.01%;
    width: 300px;
    height: 350px;
    cursor: pointer;
    outline: none !important;
}

.captureVideoImage {
    position: absolute;
    width: 262.18px;
    height: 169.52px;
    left: 20px;
    top: 30px;
    box-sizing: border-box;
    border-radius: 0px 0px 18px 18px;
    outline: none;
}

.videoCapture h3 {
    position: absolute;
    left: 30px;
    top: 200px;
    margin:0;
    width: fit-content;
    height: fit-content;
    color: var(--colour-white);
    font-family: 'TitlingGothicFB-Extended-Bold';
    text-transform: uppercase;
    font-size: 70px;
    line-height: 120px;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.footer {
    position: relative;
    width: 600px;
    height: 75.1px;
    left: 32%;
    top: 700px;
    display: inline-block;
}

.photoButton, .retakeButton {
    position: absolute;
    width: 250px;
    height: 65px;
    background: #000000;
    border: 3px solid var(--colour-lilac);
    box-sizing: border-box;
    font-family: Titling Gothic FB Extended;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colour-lilac);
    text-transform: uppercase;
    background: var(--colour-black);
    cursor: pointer;
    outline: none;
}

.photoButton:hover{
    background: var(--colour-lilac);
    color: var(--colour-black);
}

.retakeButton {
    color: var(--colour-pink) !important;
    background: var(--colour-black) !important;
    border: 3px solid var(--colour-pink) !important;
}

.retakeButton:hover {
    background: var(--colour-pink) !important;
    color: var(--colour-black) !important;
}

.gifButton, .sendTextButton {
    position: absolute;
    width: 250px;
    height: 65px;
    left: 300px;
    background: var(--colour-pink); 
    font-family: Titling Gothic FB Extended;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colour-black);
    border: 4px solid var(--colour-pink);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.sendTextButton {
    font-size: 20px !important;
    line-height: 24px !important;
    color: var(--colour-white) !important;
    background: var(--colour-black) !important;
    border: 4px solid var(--colour-white) !important;
    outline: none;
}

.sendTextButton:hover {
    background: var(--colour-white) !important;
    color: var(--colour-black) !important;
}

/* Landscape mode */
@media only screen and (min-width: 810px) and (max-width: 1080px) {

    .footer {
        top: 1213px;
        left: 240px;
    }

    .footerPattern {
        bottom: -535px;
        right: 0; 
    }

    .imageCaptureContainer{
        width: 861px;
        height: 1075px;
        left: 105px;
        right: 74px;
        top: 80px;
    }

    .progressbar {
        bottom: 60.01%;
        left: 35%;
    }

    .videoCapture {
        top: 33.65%;
    }

    .timeInSec {
        top: 35.65%;
    }
}

/* portrait mode */
@media only screen and (min-width: 810px) and (orientation: portrait) {

    .footerPattern {
        height: 450px;
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat; 
        background-position: left center; 
        outline: none;
    }

    .imageCaptureContainer {
        width: 720px;
        height: 850px;
        left: 45px;
        top: 60px;
    }

    .progressbar {
        bottom: 60.01%;
        left: 33%;
    }

    .footer {
        top: 950px;
        left: 144px;
    }
}

