.formCloseConfirmationPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(14, 14, 14, 0.83);
    border: none;
    box-sizing: border-box;
}

.popupWindow {
    position: absolute;
    width: 650px;
    height: 372px;
    left: 80px;
    top: 340px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

